@page "/"
@inject IDreamService DreamService

<PageTitle>Welcome to Anton's world</PageTitle>

<div class="content-container">
    @if (dream == null)
    {
        <div class="intro-text" style="font-size: 2.69vw;">Anton, welcome back, you are! Your dream, write down, you must!</div>
        <div class="button-container">
            <button type="button" class="btn btn-outline-dark btn-lg" style="width:123px; height:50px;">Click me!</button>
        </div>
    }
    else
    {
        <div class="intro-text" style="font-size: 4.20vw;">
            Anton’s dream for today!
        </div>
        <div class="dream-text">dream.Text</div>
    }
</div>

@code {
    private Dream? dream;

    protected override async Task OnInitializedAsync()
    {
        Dream latestDream = await DreamService.GetLatestDreamAsync();
        if (latestDream.DatePosted.Date == DateTime.Today)
        {
            dream = latestDream;
        }
    }
}

