.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.intro-text {
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 4.20vw;
}

.dream-text {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid black;
    margin: 0 50px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
}
