@page "/"
@inject IDreamService DreamService

<PageTitle>Welcome to Anton's world</PageTitle>

<div class="content-container">
    @if (dream == null)
    {
        <div class="intro-text">Anton, welcome back, you are. Your dream, write down, you must!</div>
        <button class="btn btn-outline-dark btn-lg">Click me!</button>
    }
    else
    {
        <div class="intro-text">Anton’s dream for today</div>
        <div class="dream-text">@dream.Text</div>
    }
</div>

@code {
    private Dream dream;

    protected override async Task OnInitializedAsync()
    {
        Dream latestDream = await DreamService.GetLatestDreamAsync();
        if (latestDream.DatePosted.Date == DateTime.Today)
        {
            dream = latestDream;
        }
    }
}

